<h2>Login</h2>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      required
      minlength="6"
      pattern="^[a-zA-Z0-9_]+$"
      #usernameField="ngModel">

    <div *ngIf="usernameField.invalid && usernameField.touched" class="error-message">
      <div *ngIf="usernameField.errors?.['required']">Username is required.</div>
      <div *ngIf="usernameField.errors?.['pattern']">Username can only contain letters, numbers, and underscores.</div>
    </div>


    <div *ngIf="username.length < 6" class="info-message">
      Username must be at least 6 characters long.
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="10"
      maxlength="15"
      (input)="validatePassword()"
      #passwordField="ngModel">

    <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
      <div *ngIf="passwordField.errors?.['required']"> *Password is required.</div>
      <div *ngIf="passwordField.errors?.['minlength'] || passwordField.errors?.['maxlength']">
        * Password must be exactly 10 characters long.
      </div>
    </div>

    <div class="password-criteria" *ngIf="password.length > 0">
      <label>
        <input type="checkbox" [checked]="isUpperCaseValid"> Contains uppercase letter
      </label><br>
      <label>
        <input type="checkbox" [checked]="isLowerCaseValid" > Contains lowercase letter
      </label><br>
      <label>
        <input type="checkbox" [checked]="isNumberValid" > Contains number
      </label><br>
      <label>
        <input type="checkbox" [checked]="isSpecialCharValid"> Contains special character
      </label>
    </div>
  </div>


  <button type="submit" >Login</button>

</form>

<p id="message" class="message">{{ message }}</p>
